<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"></link>
<script src="bootstrap/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<title>Admin Grade Page</title>
</head>


<body>
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="admin">SE106 Grade System</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="admin">Project</a></li>
					<li class="active"><a href="admin-grade">Grade</a></li>
					<li><a href="admin-student">Student</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>


	<div class=container>
		<h1 class="page-header">Grade</h1>

		<div class="col-lg-2">
			<form method="post">
				<select name="change_project">
				{{with .Find_Project}}
					{{range .}}
						<option value = {{.Pname}}>{{.Pname}}</option>
					{{end}}
				{{end}}  
				</select>
				<button type="submit" class="btn btn-info btn-sm btn-primary">Select</button>
			</form>
		</div>


		<div class="col-lg-10">
			<form id="grade_form" class="form-inline center-block" method="post">
				<label>Project&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
				<input name="update_project" type="text" class="form-control" value={{.Select_Project}} required="true"> <br/>
				<label>Student No</label>
				<input name="update_student_number" type="text" class="form-control" placeholder="student number" required="true">
				<label>&nbsp&nbsp&nbsp&nbspGrade</label>
				<input name="update_grade" type="text" class="form-control" placeholder="grade" required="true" style="max-width:100px">
				<label>&nbsp&nbsp&nbsp&nbspRemark</label>
				<input name="update_remark" type="text" class="form-control" placeholder="Remark Only English">
				<button class="btn btn-primary btn-block" type="submit" style="max-width:150px">Update Grade</button>
			</form>
		</div>


		<h2><br/>{{.Select_Project}}</h2>
		<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Number</th>
				<th>Grade</th>
				<th>Remark</th>
		    </tr>
		</thead>
		<tbody>
		{{with .Find_Grade}}
			{{range .}}
			<tr>
				<td>{{.Name}}</td>
				<td>{{.Score}}/{{.Full_Grade}}</td>
				<td>{{.Remark}}</td>
		    </tr>
		    {{end}}
		{{end}}
		</tbody>
		</table>


		<h2>Have no grade student list</h2>
		<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Number</th>
		    </tr>
		</thead>
		<tbody>
		{{range .Not_Have_Grade}}
			<tr>
				<td>{{.}}</td>
		    </tr>
		{{end}}
		</tbody>
		</table>

	</div>

</body>
</html>